[Desktop Entry]
Encoding=UTF-8
Name=Lockelycoin
Comment=Lockelycoin P2P Cryptocurrency
Exec=lockelycoin-qt %u
Terminal=false
Type=Application
Icon=bitcoin128
MimeType=x-scheme-handler/lockelycoin;
Categories=Office;Finance;
Name[en_US]=lockelycoin-qt.desktop
